@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Submit a Restaurant";
}

@model FoodBlog.Models.UserRestaurant
<br />
<br />
<section class="page-section">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> Add your own Restaurant</h2>
        <div class="divider-custom">
        <br />
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage" method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="UserName">Your Name</label>
                            <input class="form-control" asp-for="UserName" id="title" name="UserName" type="text" placeholder="Your name" />
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="Name">Restaurant Name</label>
                            <input class="form-control" asp-for="Name" id="title" name="Name" type="text" placeholder="Restaurant Name" />
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.Name)</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="FavDish">Your Favorite Dish</label>
                            <input class="form-control" asp-for="FavDish" id="FavDish" name="FavDish" type="text" placeholder="Your Favorite Dish" />
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.FavDish)</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="Phone">Phone Number</label>
                            <input class="form-control" asp-for="Phone" id="phone" name="phone" type="tel" placeholder="Phone Number" />
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.Phone)</div>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</section>