@{
    ViewBag.title = "Top 5 Restaurants in Provo Area";
}


@model IEnumerable<string>


<br />
<br />
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome - Top 5 Restaurants in Provo</h2>
        <div class="row justify-content-center">
            @foreach (string s in Model)
            {
                <h3>@s <br><br></h3>
            }
        </div>
    </div>
</section>

