@{
    ViewBag.title = "User Nominated Restaurants";
}


@model IEnumerable<FoodBlog.Models.UserRestaurant>


<br />
<br />
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">User-Nominated Restaurants</h2>
        <div class="divider-custom">
            <br />
            <br>
        </div>
        <div class="row justify-content-center">
            @if (Model is null)
            {
                <h1>Nothing here yet...</h1>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            }
            else
            {
                @foreach (FoodBlog.Models.UserRestaurant r in Model)
                {
                    <h3 class="text-primary">@r.Name, @r.UserName, @r.Phone, @r.FavDish <br></h3>
                }

            }

        </div>
    </div>
</section>

